Web_Programming/Web Design/Extensive Markup/Chapter 3/tutorial.03x/review/sw.dtd

<!--
   New Perspectives on XML
   Tutorial 3
   Review Assignment

   Software list DTD
   Author: Chris Carrier
   Date:   4/12/12

   Filename:         sw.dtd
   Supporting Files: 
-->
	<!ELEMENT slist (software+)>
	<!ELEMENT slist ANY>
	
	<!ELEMENT software (title, company, sPrice)>

	<!ELEMENT title (#PCDATA)>
	<!ATTLIST title SID ID #REQUIRED>
	<!ATTLIST title OS (Windows | Macintosh | UNIX | Other) #REQUIRED>

	<!ELEMENT company (#PCDATA)>
	<!ELEMENT sPrice (#PCDATA)>